
body {
  background-image: url("/barbatus/media/hd-parchment.jpg");
  background-color: CornflowerBlue;
  background-attachment: fixed;
  background-size: cover;
  position: center;
  color: black;
}

blockquote {
  color: #9e1e10
}
